* {
  margin: 0;
  padding: 0;
}

main > header {
  margin: 64px 0px;
}

main header > h2 {
  margin-bottom: 8px;
}

main img {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

figcaption {
  margin-top: 24px;
}

li {
  margin: 48px 0px;
}

#container {
  max-width: 1120px;
  margin: 88px auto 65px;
}

#container > header {
  margin-bottom: 40px;
}

.headline {
  margin-bottom: 4px;
}

.divisor {
  margin: 40px 0px;
}

footer {
  margin: 65px 0px 48px;
}