:root {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

body {
  background-color: #F5F4F0;
}

h1 {
  color: #1B1B1B;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}

#subtitle {
  font-style: italic;
}

.headline {
  color: #E1624F;
  font-weight: bold;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}